---
export interface Props {}
---

<html lang="en">
  <head> </head>
  <body class="dark:bg-slate-900">
    <div id="app" class="relative h-screen p-2 gap-2 flex items-stretch">
      <aside class="[grid-area:aside] flex-col flex overflow-y-auto">ASIDE</aside>
      <main class="[grid-area:main] flex flex-col overflow-y-auto">MAIN</main>
      <footer class="[grid-area:footer]">FOOTER</footer>
    </div>
  </body>
</html>

<style>
  #app {
    display: grid;
    grid-template-areas:
      'aside main main'
      'footer footer footer';
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr auto;
  }
</style>
