---
export interface Props {
  content: {};
}

---

<html lang="en">
  <head>
  </head>
  <body class="dark:bg-slate-900">
    <header></header>
    <main>
        <slot />
    </main>
    <footer></footer>
  </body>
</html>
